/* Write your CSS here */
.bg-container {
  background-color: #000000;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.heading {
  color: #00e7ff;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
.crypto-currency-logo {
  width: 400px;
  height: 150px;
}
@media (min-width: 768px) {
  .crypto-currency-logo {
    width: 600px;
    height: 250px;
  }
}
